################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pets-UI/Pets-UI.Mvc/obj/Debug
