@{
    ViewBag.Title = "Informations about Paweł Kowalewicz";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is an UI application created by Paweł Kowalewicz. You can find some more informations about me by clicking the buttons below:</p>
<p><a class="btn btn-default" target="_blank" href="http://pawelkowalewicz.pl">My website &raquo;</a></p>
<p><a class="btn btn-default" target="_blank" href="https://github.com/XardasLord">My GitHub profile &raquo;</a></p>
<p><a class="btn btn-default" target="_blank" href="https://www.linkedin.com/in/pawel-kowalewicz/">My LinkedIn profile &raquo;</a></p>
<p><a class="btn btn-default" target="_blank" href="https://www.linkedin.com/in/pawel-kowalewicz/">My LinkedIn profile &raquo;</a></p>
<p><a class="btn btn-default" target="_blank" href="https://stackoverflow.com/users/3921353/xardaslord">My StackOverflow profile &raquo;</a></p>
