@model List<Pets_UI.Mvc.Models.AnimalToCare>

@{
    ViewBag.Title = "ShowArchive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Archival animals</h2>

@ViewBag.Message

@foreach (var animalToCare in Model)
{
    @animalToCare.Animal.Name
}